@mixin font($font-family,$color,$font-size){
    font-family:$font-family,cursive;
    color:$color;
    font-size:$font-size;
}

@mixin width_height($width,$height){
    width:$width;
    height:$height;
}

@mixin flame($border-radius,$border,$margin){
    display: block;
    border-radius:$border-radius;
    border:$border;
    margin:$margin;
}

@mixin a_line($color){
    color:$color;
    text-decoration:none;
}

*{
    box-sizing: border-box;
}

html{
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}

body{
    position: relative;
    background-color:rgb(255, 214, 214);
    margin: 0;
    &.home{
        padding:0 0 100px 0;
        min-height: 100vh;
    }
}

header{
    position: relative;
    padding:10px 0px;
    @include width_height(100%,10%);
    @include font('M PLUS 1p', white,15px);
    margin:0;
    background: deeppink;
    .header{
        display: flex;
        margin:0px auto;
        max-width: 1300px;
        h1 {
            margin:0;
            a{
                text-align: center;
                @include font('Cherry Swash', white,30px);
            }
        }
        .menu{
            position:absolute;
            display: none;
            background:white;
            border-radius:5px;
            right:0;
            top:80%;
            z-index:1;
            transition-duration:0.5s;
            a{
                @include font('M PLUS 1p',black,15px);
                transition-duration:0.5s;
            }
            a:hover{
                background:rgb(214, 214, 214);
            }
        }
        label[for = menu]{
            display: block;
            color: white;
            cursor: pointer;
            font-size: 18px;
            i{
                vertical-align:middle;
                font-size: 40px;
                margin-left: 10px;
                transition-duration:0.5s;
                &:hover{
                    color: rgb(190, 190, 190);
                }
            }
        }
        input[type = checkbox]{
            display: none;
            &:checked + .menu{
                display:block;
            }
        }
        p{
            display:block;
            text-align:right;
            font-weight:Medium;
            margin:5px;
        }
        i{
            font-size:20px;
        }
        a{
            display: block;
            margin:0 10px;
            padding:5px 10px;
            text-decoration: none;
            transition-duration:0.5s;
            &.make_board{
                border-radius:10px;
                background: rgb(19, 184, 19);
                padding-top:10px;
                vertical-align: middle;
                color: white;
                &:hover{
                    background: rgb(23, 226, 23);
                }
            }
        }
        form.seach_form{
            display:flex;
            margin:5px auto;
            height:90%;
            input[type = search]{
                @include flame(3px 0px 0px 3px,solid 1px silver,0);
                width:400px;
            }
            button{
                @include flame(0px 3px 3px 0px,solid 1px silver,0);
                @include font('M PLUS 1p', black,20px);
                cursor: pointer;
            }
        }
    }
}

main{
    position:relative;
    display: flex;
    max-width: 1300px;
    margin:auto;
    h1{
        @include font('Cherry Swash', white,25px);
        background-color:deeppink;
        padding:5px;
        border-radius:5px;
        margin:0px 0px 20px 0px;
    }
    .setting_menu{
        margin:20px;
        background-color:rgba(255, 255, 255, 0.6);
        border-radius:5px;
        width:20%;
        max-height:30vh;
        a{
            display: block;
            margin:20px;
            @include font('M PLUS 1p',black,18px);
            transition-duration:0.5s;
            text-decoration: none;
            border-bottom:solid 1px silver;
        }
        a:hover{
            background:white;
        }
    }
    div{
        padding-bottom:10px;
        margin:20px auto;
        background-color:rgba(255, 255, 255, 0.6);
        border-radius:5px;
        font-family: 'M PLUS 1p',cursive;
        &.gide{
            width: 90%;
            color: black;
            font-size: 14px;
            padding:10px;
        }
        &.saccess{
            width:50%;
            text-align: center;
            a{
                background-color: silver;
                @include a_line(white);
            }
        }
        &.boards{
            width:50%;
            margin:20px auto 20px 20px;
            .board{
                @include flame(5px,0px none,0 auto 10px auto);
                background-color:white;
                padding:10px;
                width:80%;
                transition-duration:0.5s;
                label{
                    cursor:pointer;
                }
                button{
                    display: none;
                }
                .date{
                    margin:0;
                    font-size:10px;
                    color: rgb(109, 109, 109);
                }
                &:hover{
                    width:90%;
                    background-color:rgb(243, 243, 243);
                }
            }
            .comment{
                @include flame(5px,0px none,0 auto 10px auto);
                background-color:white;
                padding:10px;
                width:90%;
                min-height:40vh;
                .date{
                    margin:0 0 10px 0;
                    font-size:10px;
                    color: rgb(109, 109, 109);
                }
                h2{
                    display: block;
                    border-bottom:solid 1px silver;
                    font-size: 20px;
                    margin:20px 10px;
                }
                p{
                    display: block;
                    margin:20px;
                    color:rgb(90, 90, 90);
                    &.right{
                        text-align: right;
                    }
                }
                .message{
                    margin:10px;
                    border-radius: 10px;
                    background:rgb(228, 228, 228);
                    max-width:50vh;
                    min-width:10vh;
                    padding:8px;
                    &.mine{
                        background:rgb(1, 148, 233);
                        color: white;
                    }
                }
                .contact{
                    display: block;
                    @include flame(10px,0px none,20px auto 10px auto);
                    @include a_line(white);
                    width:40%;
                    padding:10px 0px;
                    text-align: center;
                    background: deeppink;
                    transition-duration: 0.5s;
                    &:hover{
                        background: rgb(255, 82, 174);
                    }
                }
            }
            .button_frame{
                display: flex;
                width:80%;
                margin:auto;
                background:rgba(255, 255, 255, 0);
                button{
                    display: inline-block;
                    margin:5px;
                    border:solid 2px silver;
                    text-align: center;
                    cursor:pointer;
                }
            }
        }
        &.make_board,&.setting{
            width:50%;
            p{
                @include font('M PLUS 1p', black,15px);
                font-weight:bold;
                &.red{
                    color: rgb(202, 3, 3);
                }
            }
        }
        &.setting{
            margin:20px auto 20px 20px;
        }
        &.profile{
            width:50%;
            @include font('M PLUS 1p', black,17px);
            .besic{
                display: flex;
                margin:10px auto;
                .text{
                    @include flame(10px,0px none,10px auto);
                    background-color:white;
                    width:50%;
                    min-height:30vh;
                    p{
                        display: block;
                        margin-left:10%;
                        color: rgb(90, 90, 90);
                    }
                }
                .icon{
                    @include flame(10px,dashed 1px silver,10px auto);
                    width:30%;
                    max-height:30vh;
                }
            }
            .details{
                @include flame(10px,0px none,10px auto);
                background-color:white;
                width:90%;
                min-height:30vh;
                p{
                    display: block;
                    margin:10px;
                    color:rgb(90, 90, 90);
                }
                h2{
                    display: block;
                    border-bottom:solid 1px silver;
                }
            }
        }
        form,.form{
            width:80%;
            margin:10px auto;
            label{
                display: flex;
            }
            input[type = text],textarea,select{
                @include font('M PLUS 1p', black,15px);
                @include flame(10px,solid 1px white,10px 20px);
                @include width_height(50%,40px);
            }
            select{
                @include width_height(30%,30px);
            }
            textarea{
                @include width_height(90%,160px);
                resize: vertical;
            }
            input[type = submit]{
                @include flame(10px,solid 1px white,10px auto);
                background-color: deeppink;
                color: white;
                padding:10px 20px;
                transition-duration:0.6s;
                opacity:0.85;
                &:hover{
                    opacity:1;
                }
            }
            fieldset{
                border:0px none;
                border-radius:10px;
                background:cornsilk;
                legend{
                    padding:10px;
                    @include font('M PLUS 1p', white,17px);
                    background:deeppink;
                    border-radius:10px;
                }
                .radio_flame{
                    display: flex;
                    label{
                        display: block;
                        margin:15px;
                    }
                }
            }
        }
        .form{
            display: flex;
            textarea{
                @include width_height(80%,40px);
            }
        }
    }
}

.login_form,.create_form{
    display:block;
    position: relative;
    background-color:rgba(255, 255, 255, 0.6);
    top:50px;
    margin:30px auto;
    width:30%;
    padding:0 10px 10px 10px;
    border-radius:10px;
    transition-duration:0.6s;
    font-family:'M PLUS 1p',cursive;
    input[type = email],input[type = password],input[type = text]{
        @include width_height(75%,40px);
        @include flame(10px,solid 1px white,5px auto 10px auto);
    }
    input[type = submit]{
        @include flame(10px,solid 1px white,10px auto);
        background-color: deeppink;
        color: white;
        padding:10px 20px;
        transition-duration:0.6s;
        opacity:0.85;
        &:hover{
            opacity:1;
        }
    }
    h1{
        @include flame(10px,0px none,10px 10px 20px 10px);
        font-size:20px;
        color: white;
        background-color:deeppink;
        padding:5px;
        width:50%;
        text-align: center;
    }
    p{
        display: block;
        margin:5px auto;
        font-weight:bold;
        width:75%;
        &.error{
            font-size:10px;
            color: red;
            font-weight:normal;
        }
        &.center{
            text-align: center;
        }
    }
    a{
        display: block;
        margin:10px auto;
        @include a_line(blue);
        text-align: center;
        width:50%;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
    @media (max-width:768px){
        width:50%;
    }
    @media (max-width:420px){
        width:70%;
    }
}

footer{
    position:absolute;
    background: black;
    text-align: center;
    @include font('M PLUS 1p', white,15px);
    margin:auto;
    width: 100%;
    bottom:0;
}


table{
    margin:10px auto;
}

th,td{
    border:solid 1px black;
    padding:5px 10px;
}

th{
    background-color: rgb(128, 128, 128);
    color: white;
}

.space{
    margin-right: 20px;
}

p.gide{
    @include font('M PLUS 1p',black,15px);
    margin:10px 20px;
}

h3{
    @include font('M PLUS 1p',black,20px);
    margin:10px;
}

i{
    margin-right:10px;
    font-size: 30px;
}