@mixin font($font-family,$color,$font-size){
    font-family:$font-family,cursive;
    color:$color;
    font-size:$font-size;
}

body{
    position: relative;
    margin: 0;
    padding:0;
    background-color:rgb(255, 214, 214);
    min-height: 100vh;
}

header{
    position: relative;
    display: flex;
    padding:10px 0px;
    width:100%;
    height:10%;
    margin:0;
    background: deeppink;
    h1 {
        margin:0;
        a{
            text-align: center;
            @include font('Cherry Swash', white,30px);
        }
    }
    .menu{
        position:absolute;
        display: none;
        background:white;
        border-radius:5px;
        right:0;
        top:80%;
        z-index:1;
        a{
            @include font('Cherry Swash',black,15px);
        }
        a:hover{
            background:rgb(214, 214, 214);
        }
    }
    label[for = menu]{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 18px;
        i{
            margin-left: 10px;
            vertical-align:middle;
            font-size: 40px;
            transition-duration:0.5s;
            &:hover{
                color: rgb(190, 190, 190);
            }
        }
    }
    input[type = checkbox]{
        display: none;
        &:checked + .menu{
            display:block;
        }
    }
    p{
        display:block;
        text-align:right;
        @include font("M PLUS 1p", white,15px);
        font-weight:Medium;
        margin:5px;
    }
    i{
        font-size:20px;
        margin-right:10px;
    }
    a{
        display: block;
        margin:0 10px;
        padding:5px 10px;
        text-decoration: none;
        transition-duration:0.5s;
        &.make_board{
            border-radius:10px;
            background: rgb(19, 184, 19);
            padding-top:10px;
            vertical-align: middle;
            @include font('Cherry Swash', white,15px);
            &:hover{
                background: rgb(23, 226, 23);
            }
        }
    }
    form.seach_form{
        display:flex;
        margin:5px auto;
        height:90%;
        input[type = search]{
            display: block;
            border-radius:3px 0px 0px 3px;
            border: solid 1px silver;
            width:400px;
            margin:0;
        }
        button{
            display: block;
            border-radius:0px 3px 3px 0px;
            border: solid 1px silver;
            margin:0;
            @include font('M PLUS 1p', black,20px);
            cursor: pointer;
        }
    }
}

main{
    position:relative;
    max-width: 1300px;
    margin:auto;
    h1{
        @include font('Cherry Swash', white,25px);
        background-color:deeppink;
        padding:5px;
        border-radius:5px;
    }
    div{
        position:relative;
        padding-bottom:10px;
        margin:10px auto;
        background-color:rgba(255, 255, 255, 0.6);
        border-radius:5px;
        &.saccess{
            width:50%;
            text-align: center;
            a{
                background-color: silver;
                color: white;
                text-decoration: none;
            }
        }
        &.boards{
            width:50%;
            .board{
                background-color:white;
                padding:10px;
                border-radius:5px;
                margin:0 auto;
                margin-bottom:10px;
                width:80%;
                .date{
                    margin:0;
                    font-size:10px;
                    color: rgb(109, 109, 109);
                }
            }
            .button_frame{
                display: flex;
                width:80%;
                margin:auto;
                background:rgba(255, 255, 255, 0);
                button{
                    display: inline-block;
                    margin:5px;
                    border:solid 2px silver;
                    text-align: center;
                }
            }
        }
        &.make_board{
            width:60%;
            form{
                width:80%;
                margin:10px auto;
                p{
                    font-weight: bold;
                    margin:5px 5px;
                }
                input[type = text],textarea{
                    @include font('M PLUS 1p', black,15px);
                    display: block;
                    margin:5px 10px;
                    margin-bottom:10px;
                    width:100%;
                    height:40px;
                    border-radius:10px;
                    border:solid 1px white;
                }
                textarea{
                    width:100%;
                    height:160px;
                }
                input[type = submit]{
                    display: block;
                    margin:10px auto;
                    background-color: deeppink;
                    color: white;
                    border:solid 1px white;
                    border-radius:10px;
                    padding:10px 20px;
                    transition-duration:0.6s;
                    opacity:0.85;
                    &:hover{
                        opacity:1;
                    }
                }
            }
        }
    }
}

.login_form,.create_form{
    position: relative;
    background-color:rgba(255, 255, 255, 0.6);
    top:50px;
    margin:30px auto;
    width:30%;
    padding:0 10px;
    padding-bottom:10px;
    border-radius:10px;
    transition-duration:0.6s;
    input[type = email],input[type = password],input[type = text]{
        display: block;
        margin:5px auto;
        margin-bottom:10px;
        width:75%;
        height:40px;
        border-radius:10px;
        border:solid 1px white;
    }
    input[type = submit]{
        display: block;
        margin:10px auto;
        background-color: deeppink;
        color: white;
        border:solid 1px white;
        border-radius:10px;
        padding:10px 20px;
        transition-duration:0.6s;
        opacity:0.85;
        &:hover{
            opacity:1;
        }
    }
    h1{
        display: block;
        font-size:20px;
        color: white;
        background-color:deeppink;
        margin:10px;
        margin-bottom:20px;
        border-radius:10px;
        padding:5px;
        width:50%;
        text-align: center;
    }
    p{
        display: block;
        margin:5px auto;
        font-weight:bold;
        width:75%;
        &.error{
            font-size:10px;
            color: red;
            font-weight:normal;
        }
        &.center{
            text-align: center;
        }
    }
    a{
        display: block;
        margin:10px auto;
        color: blue;
        text-decoration:none;
        text-align: center;
        width:50%;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
    @media (max-width:768px){
        width:50%;
    }
}


table{
    margin:10px auto;
}

th,td{
    border:solid 1px black;
    padding:5px 10px;
}

th{
    background-color: rgb(128, 128, 128);
    color: white;
}



.space{
    margin-right: 20px;
}