/*******************************************
variable
*******************************************/
$backcolor: rgba(255,255,255,0.6);
$div_margin:20px auto;
$red:rgb(199, 37, 37);
$blue:rgb(56, 179, 228);
/*******************************************
@mixin
*******************************************/
@mixin font($font-family,$color,$font-size){
    font-family:$font-family,cursive;
    color:$color;
    font-size:$font-size;
}

@mixin width_height($width,$height){
    width:$width;
    height:$height;
}

@mixin flame($margin){
    display: block;
    margin:$margin;
}

@mixin  border($border-radius,$border) {
    border-radius:$border-radius;
    border:$border;
}

@mixin a_line($color){
    color:$color;
    text-decoration:none;
}

@mixin animation($name,$element,$before,$affter,$time){
    animation-name:$name;
    animation-duration:$time;
    @keyframes #{$name}{
        from{
            #{$element}:$before;
        }
        to{
            #{$element}:$affter;
        }
    }
}

@mixin div_elements($width,$back,$margin) {
    width:$width;
    background: $back;
    margin:$margin;
    border-radius:5px;
    padding-bottom:10px;
    font-family: 'M PLUS 1p',cursive;
}

@mixin ipad(){
    @media (max-width:830px){
        @content;
    }
}

@mixin ipone(){
    @media (max-width:420px){
        @content;
    }
}
/*******************************************
reset IOS style
*******************************************/
input[type = text],
input[type = submit],
input[type = email],
input[type = password],
input[type = button],
button,textarea,select{
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
/*******************************************
html,boby
*******************************************/
*{
    box-sizing: border-box;
}

html{
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}

body{
    position: relative;
    background-color:rgb(255, 214, 214);
    margin: 0;
    &.home{
        padding:0 0 100px 0;
        min-height: 100vh;
    }
    .success_comment{
        @include flame(0);
        position: fixed;
        background: deeppink;
        color: white;
        bottom:0;
        width:100%;
        padding:20px;
        @include animation("fadeIn","opacity",0,1,0.8s);
    }
    .fixed{
        display:none;
        margin:0;
        position: fixed;
        background:rgba(0, 0, 0, 0.5);
        z-index: 2;
        width:100%;
        height:100%;
        top:0;
        &.on{
            display:block;
        }
        .head{
            display: flex;
            @include font('M PLUS 1p',white,20px);
            @include border(5px,0px none);
            background: deeppink;
            .fa-times{
                display: block;
                margin-left: auto;
                font-size:25px;
                color: black;
                background: white;
                transition-duration: 0.5s;
                padding:5px 10px;
                border-radius: 10px;
                &:hover{
                    color: white;
                    background:$red;
                }
            }
        }
        .box,.editbox{
            top:40%;
            position: relative;
            @include div_elements(30%,rgb(255, 214, 214),auto);
            height: 20%;
            text-align: center;
            button{
                @include font('M PLUS 1p',white,15px);
                @include border(5px,0px none);
                padding:10px;
                margin:10px;
                display:inline-block;
                cursor: pointer;
                &#OK{
                    background: $red;
                }
                &#NO{
                    background: $blue;
                }
            }
            @include ipone(){
                width: 60%;
            }
        }
        .editbox{
            @include div_elements(50%,rgb(255, 214, 214),auto);
            height: 60%;
            top:20%;
            input[type = text],textarea{
                @include font('M PLUS 1p', black,15px);
                @include flame(10px 20px);
                @include border(10px,solid 1px white);
                @include width_height(50%,40px);
            }
            textarea{
                @include width_height(90%,160px);
                resize: vertical;
                white-space: pre-wrap;
            }
            input[type = submit]{
                @include flame(10px auto);
                @include border(10px,0px none);
                background-color: deeppink;
                color: white;
                padding:10px 20px;
                transition-duration:0.6s;
                opacity:0.85;
                &:hover{
                    opacity:1;
                }
            }
            @include ipone(){
                width: 95%;
            }
        }
    }
}

/*******************************************
other
*******************************************/
.space{
    margin-right: 20px;
}

p.gide_text{
    @include font('M PLUS 1p',black,15px);
    margin:10px 20px;
}
h3{
    @include font('M PLUS 1p',black,20px);
    margin:10px;
}

i{
    margin-right:10px;
    font-size: 30px;
}

/*******************************************
header
*******************************************/
header{
    position: fixed;
    display: block;
    padding:10px 0px;
    @include width_height(100%,70px);
    @include font('M PLUS 1p', white,15px);
    margin:0;
    background: deeppink;
    z-index:3;
    transition-duration: 0.5s;
    .header{
        display: flex;
        margin:0px auto;
        max-width: 1300px;
        h1 {
            margin:0;
            a{
                text-align: center;
                @include font('Cherry Swash', white,30px);
                @include ipone(){
                    font-size: 20px;
                }
            }
        }
        p{
            @include flame(5px);
            text-align:right;
            font-weight:Medium;
        }
        i{
            font-size:20px;
        }
        a{
            @include flame(0 10px);
            padding:5px 10px;
            text-decoration: none;
            transition-duration:0.5s;
            &.make_board{
                border-radius:10px;
                background: rgb(19, 184, 19);
                padding-top:10px;
                vertical-align: middle;
                color: white;
                &:hover{
                    background: rgb(23, 226, 23);
                }
                @include ipone(){
                    display: none;
                }
            }
        }
        .menu{
            position:absolute;
            display: none;
            background:white;
            border-radius:5px;
            right:0;
            top:80%;
            z-index:4;
            transition-duration:0.5s;
            a{
                @include font('M PLUS 1p',black,15px);
                transition-duration:0.5s;
            }
            a:hover{
                background:rgb(214, 214, 214);
            }
            @include ipone(){
                width: 100%;
                border: solid 2px silver;
            }
        }
        label[for = menu]{
            display: block;
            color: white;
            cursor: pointer;
            font-size: 18px;
            i{
                vertical-align:middle;
                font-size: 40px;
                margin-left: 10px;
                transition-duration:0.5s;
                &:hover{
                    color: rgb(190, 190, 190);
                }
            }
        }
        input[type = checkbox]{
            display: none;
            &:checked + .menu{
                display:block;
            }
        }
        form.seach_form{
            display:flex;
            margin:5px auto;
            height:90%;
            input[type = search]{
                @include flame(0);
                @include border(3px 0px 0px 3px,solid 1px silver);
                width:400px;
                @media (max-width:930px){
                    width:300px;
                }
                @include ipad(){
                    width:200px;
                }
                @include ipone(){
                    display: none;
                }
            }
            button{
                @include flame(0);
                @include border(0px 3px 3px 0px,solid 1px silver);
                @include font('M PLUS 1p', black,20px);
                background:rgb(230, 230, 230);
                cursor: pointer;
            }
        }
    }
}
/*******************************************
main
*******************************************/
main{
    position:relative;
    display: flex;
    max-width: 1300px;
    margin:auto;
    padding-top:70px;
    h1{
        @include font('Cherry Swash', white,25px);
        background-color:deeppink;
        padding:5px;
        border-radius:5px;
        margin:0px 0px 20px 0px;
        @include ipone(){
            margin:0px;
        }
    }
    .setting_menu{
        margin:20px;
        background-color:$backcolor;
        border-radius:5px;
        width:20%;
        max-height:30vh;
        a{
            @include flame(20px);
            @include font('M PLUS 1p',black,18px);
            transition-duration:0.5s;
            text-decoration: none;
            border-bottom:solid 1px silver;
        }
        a:hover{
            background:white;
        }
        @include ipad(){
            width:30%;
        }
        @include ipone(){
            display: none;
        }
    }
    .gide{
        @include div_elements(90%,$backcolor,$div_margin);
        @include font('M PLUS 1p',black,14px);
        padding:10px;
    }
    .subcomment{
        @include div_elements(95%,$backcolor,10px auto);
        @include font('M PLUS 1p',rgb(90, 90, 90),14px);
        padding:10px;
        white-space: pre-wrap;
    }
    .saccess{
        @include div_elements(50%,$backcolor,$div_margin);
        text-align: center;
        @include font('M PLUS 1p',black,15px);
        a{
            @include flame(auto);
            background: deeppink;
            border-radius:5px;
            padding:10px;
            width:30%;
            @include a_line(white);
        }
    }
    .boards{
        @include div_elements(50%,$backcolor,20px auto 20px 20px);
        i{
            z-index:1;
            &.blue{
                color: $blue;
            }
            &.red{
                color: $red;
            }
            &:hover{
                opacity:0.6;
            }
        }
        label{
            cursor:pointer;
        }
        button{
            display: none;
        }
        .board{
            @include flame(10px auto);
            @include border(5px,0px none);
            background-color:white;
            padding:10px;
            width:80%;
            transition-duration:0.5s;
            .date{
                @include font('M PLUS 1p',rgb(109, 109, 109), 10px);
                margin:0;
            }
            &:hover{
                width:90%;
                background-color:rgb(243, 243, 243);
            }
            @include ipone(){
                width: 100%;
            }
        }
        .comment{
            @include flame(0 auto 10px auto);
            @include border(5px,0px none);
            background-color:white;
            padding:10px;
            width:90%;
            min-height:40vh;
            .date{
                margin:0 0 10px 0;
                font-size:10px;
                color: rgb(109, 109, 109);
            }
            h2{
                display: block;
                border-bottom:solid 1px silver;
                font-size: 20px;
                margin:20px 10px;
            }
            label[for = message]{
                display: flex;
                .message{
                    display: block;
                    margin:10px;
                    border-radius: 10px;
                    background:rgb(228, 228, 228);
                    min-width:20vh;
                    max-width:45vh;
                    padding:8px;
                    white-space: pre-wrap;
                    &.mine{
                        background:rgb(1, 148, 233);
                        color: white;
                        margin-left: auto;
                    }
                }
            }
            .contact{
                @include flame(20px auto 10px auto);
                @include border(10px,0px none);
                @include a_line(white);
                width:40%;
                padding:10px 0px;
                text-align: center;
                background: deeppink;
                transition-duration: 0.5s;
                &:hover{
                    background: rgb(255, 82, 174);
                }
                @include ipad(){
                    width:60%;
                }
            }
            @include ipone(){
                width: 100%;
            }
        }
        .button_frame{
            @include div_elements(80%,rgba(255, 255, 255, 0),auto);
            display: flex;
            button{
                display: inline-block;
                margin:5px;
                background:white;
                border:solid 2px silver;
                text-align: center;
                padding:5px 7px;
                cursor:pointer;
            }
        }
        @include ipad(){
            width:60%;
        }
        @include ipone(){
            @include div_elements(100%,$backcolor,20px auto);
        }
    }
    .make_board,.setting{
        @include div_elements(50%,$backcolor,$div_margin);
        p{
            @include font('M PLUS 1p', black,15px);
            font-weight:bold;
            &.red{
                color: rgb(202, 3, 3);
            }
        }
        @include ipad(){
            width:70%;
        }
        @include ipone(){
            width:100%;
            margin: 20px auto;
        }
    }
    .setting{
        margin:20px auto 20px 20px;
        @include ipone(){
            margin: 20px auto;
        }
    }
    .profile{
        @include div_elements(50%,$backcolor,$div_margin);
        @include font('M PLUS 1p', black,17px);
        .besic{
            display: flex;
            margin:10px auto;
            .text{
                @include flame(10px auto);
                @include border(10px,0px none);
                background-color:white;
                width:50%;
                min-height:30vh;
                p{
                    display: block;
                    margin-left:10%;
                    color: rgb(90, 90, 90);
                }
            }
            .icon{
                @include flame(10px auto);
                @include border(10px,dashed 1px silver);
                width:30%;
                max-height:30vh;
            }
        }
        .details{
            @include flame(10px auto);
            @include border(10px,0px none);
            background-color:white;
            width:90%;
            min-height:30vh;
            p{
                @include flame(10px);
                color:rgb(90, 90, 90);
                white-space: pre-wrap;
            }
            h2{
                display: block;
                border-bottom:solid 1px silver;
            }
        }
        @include ipad(){
            width:70%;
        }
        @include ipone(){
            width:95%;
        }
    }
    .form,._box{
        @include div_elements(90%,rgba(255, 255, 255, 0),$div_margin);
        @include ipone(){
            width: 100%;
        }
    }
    form,.form,.chat_box{
        margin:10px auto;
        label{
            display: flex;
        }
        input[type = text],textarea,select{
            @include font('M PLUS 1p', black,15px);
            @include flame(10px 20px);
            @include border(10px,solid 1px white);
            @include width_height(50%,40px);
            background:white;
        }
        select{
            @include width_height(30%,30px);
        }
        textarea{
            @include width_height(90%,160px);
            resize: vertical;
        }
        input[type = submit]{
            @include flame(10px auto);
            @include border(10px,solid 1px white);
            background-color: deeppink;
            color: white;
            padding:10px 20px;
            transition-duration:0.6s;
            opacity:0.85;
            &:hover{
                opacity:1;
            }
        }
        fieldset{
            border:0px none;
            border-radius:10px;
            legend{
                padding:10px;
                @include font('M PLUS 1p', white,17px);
                background:deeppink;
                border-radius:10px;
            }
            .radio_flame{
                display: flex;
                label{
                    display: block;
                    margin:15px;
                }
            }
        }
    }
    .chat_box{
        display: flex;
        textarea{
            @include width_height(80%,40px);
            margin:10px 0px 10px auto;
            border-radius:10px 0px 0px 10px;
        }
        input[type = submit]{
            margin:10px auto 10px 0px;
            border-radius:0px 10px 10px 0px;
        }
    }
}

/*******************************************
login,create form
*******************************************/
.login_form,.create_form{
    @include flame(30px auto);
    position: relative;
    background-color:$backcolor;
    top:50px;
    width:30%;
    padding:0 10px 10px 10px;
    border-radius:10px;
    transition-duration:0.6s;
    font-family:'M PLUS 1p',cursive;
    input[type = email],input[type = password],input[type = text]{
        @include width_height(75%,40px);
        @include flame(5px auto 10px auto);
        @include border(10px,solid 1px white)
    }
    input[type = submit]{
        @include flame(10px auto);
        @include border(10px,solid 1px white);
        background-color: deeppink;
        color: white;
        padding:10px 20px;
        transition-duration:0.6s;
        opacity:0.85;
        &:hover{
            opacity:1;
        }
    }
    h1{
        @include flame(10px 10px 20px 10px);
        @include border(10px,0px none);
        @include font('M PLUS 1p',white,20px);
        background-color:deeppink;
        padding:5px;
        width:50%;
        text-align: center;
    }
    p{
        @include flame(5px auto);
        font-weight:bold;
        width:75%;
        &.error{
            font-size:10px;
            color: red;
            font-weight:normal;
        }
        &.center{
            text-align: center;
        }
    }
    a{
        @include flame(10px auto);
        @include a_line(blue);
        text-align: center;
        width:50%;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
    @include ipad(){
        width:70%;
    }
    @include ipone(){
        width:90%;
    }
}

/*******************************************
footer
*******************************************/
footer{
    position:absolute;
    background: black;
    text-align: center;
    @include font('M PLUS 1p', white,15px);
    margin:auto;
    width: 100%;
    bottom:0;
}
